
/* CSS untuk penataan elemen cart */

/* General Styles */
body {
    background-color: #f0f2f5;
}

/* Product Image */
.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Shopping Cart Container */
.card {
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Total and Button */
#total-harga {
    font-size: 1.5rem;
}

#buatPesananButton {
    padding: 0.5rem 2rem;
}

/* Quantity Button */
.btn-decrease, .btn-increase {
    width: 2.5rem;
    height: 2.5rem;
}
